.Header {
    min-height: 50px;
    background: yellowgreen;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.Header a{
    text-decoration: none;
    color:white;
    font-size: 25px;

}

.Header a[class='active']{
    color: aqua;
}